---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import SideLinks from "../../components/SideLinks.astro";

const allActors = await getCollection('threat-actors');
const years = [...new Set(allActors.map((actor: any) => actor.data.identified).flat())];
years.sort();
const countries = [...new Set(allActors.map((actor: any) => actor.data.countries).flat())];
countries.sort();
const motivations = [...new Set(allActors.map((actor: any) => actor.data.motivations).flat())];
motivations.sort();

const title = "Threat Actors";
const description = "This is the top page for threat actors.";
---

<BaseLayout title={title + " | Malware Notes"} description={description}>
    <div class="mx-auto w-full md:w-2/3 md:grid md:grid-cols-[200px_1fr]">
        <SideLinks category="threat-actors" currentItem="" />
        <main class="px-2 md:px-8 flex flex-col gap-y-8">
            <h1 class="text-6xl font-bold">{title}</h1>
            <p>
                Threat Actors refer to individuals, groups, or organizations that engage in malicious activities to compromise the confidentiality, integrity, or availability of information systems. Understanding the motivations, tactics, and objectives of different threat actors is essential for developing robust defense mechanisms. 
            </p>
            <div class="flex flex-col gap-y-2">
                <h2 class="text-2xl font-bold">Search By Years</h2>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cold-4 gap-2">
                    {years.map((year: number) => (
                        year ? (
                            <a
                                href={`/threat-actors/years/${year}`}
                                class="bg-slate-800 hover:bg-slate-700 px-2 py-3 break-words"
                            >
                                {year}
                            </a>
                        ): null
                    ))}
                </div>
            </div>
            <div class="flex flex-col gap-y-2">
                <h2 class="text-2xl font-bold">Search By Countries</h2>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cold-4 gap-2">
                    {countries.map((country: string) => (
                        country ? (
                            <a
                                href={`/threat-actors/countries/${country}`}
                                class="bg-slate-800 hover:bg-slate-700 px-2 py-3 break-words"
                            >
                                {country}
                            </a>
                        ): null
                    ))}
                </div>
            </div>
            <div class="flex flex-col gap-y-2">
                <h2 class="text-2xl font-bold">Search By Motivations</h2>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cold-4 gap-2">
                    {motivations.map((motivation: string) => (
                        motivation ? (
                            <a
                                href={`/threat-actors/motivations/${motivation}`}
                                class="bg-slate-800 hover:bg-slate-700 px-2 py-3 break-words"
                            >
                                {motivation}
                            </a>
                        ): null
                    ))}
                </div>
            </div>
        </main>
    </div>
</BaseLayout>
