---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import SideLinksTechniques from "../../components/SideLinksTechniques.astro";
import IconTechnique from "../../components/IconTechnique";

const allTechniques = await getCollection('techniques');
const types = [...new Set(allTechniques.map((tech: any) => tech.data.type).flat())];
types.sort();
const platforms = [...new Set(allTechniques.map((tech: any) => tech.data.platforms).flat())];
platforms.sort();

const title = "Techniques";
const description = "This is the top page for techniques.";
---

<BaseLayout  title={title + " | Malware Notes"} description={description}>
    <div class="mx-auto w-full md:w-2/3 md:grid md:grid-cols-[200px_1fr]">
        <SideLinksTechniques currentTitle="" />
        <main class="px-2 md:px-8 flex flex-col gap-y-8">

            <div class="flex items-center gap-x-2">
                <IconTechnique color="var(--color-yellow)" size="3" className="" />
                <h1
                    class="
                        text-6xl text-transparent font-bold
                        bg-gradient-to-r from-yellow-600 to-lime-600 bg-clip-text
                    "
                >
                    {title}
                </h1>
            </div>

            <div class="flex flex-col gap-y-2">
                <h2 class="text-2xl font-bold">Search By Type</h2>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cold-4 gap-2">
                    {types.map((t: string) => (
                        t ? (
                            <a
                                href={`/techniques/types/${t}`}
                                class="bg-slate-800 hover:bg-slate-700 px-2 py-3 break-words"
                            >
                                {t}
                            </a>
                        ): null
                    ))}
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="text-2xl font-bold">Search By Platforms</h2>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cold-4 gap-2">
                    {platforms.map((platform: string) => (
                        platform ? (
                            <a
                                href={`/techniques/platforms/${platform}`}
                                class="bg-slate-800 hover:bg-slate-700 px-2 py-3 break-words"
                            >
                                {platform}
                            </a>
                        ): null
                    ))}
                </div>
            </div>

        </main>
    </div>
</BaseLayout>
