---
const { frontmatter } = Astro.props;
---

<table>
    <tbody>
        {frontmatter.type ? (
            <tr>
                <th scope="row">Type</th>
                <td>
                    <a
                        href={`/techniques/types/${frontmatter.type}`}
                        class="underline text-slate-300 hover:text-white"
                    >
                        {frontmatter.type}
                    </a>
                </td>
            </tr>
        ) : null}
        {frontmatter.platforms ? (
            <tr>
                <th scope="row">Platforms</th>
                <td>
                    {frontmatter.platforms.map((platform: string, idx: number) => (
                        <>
                            <a
                                href={`/techniques/platforms/${platform}`}
                                class="underline text-slate-300 hover:text-white"
                            >
                                {platform}
                            </a>
                            {idx == frontmatter.platforms.length-1 ? null : <span>, </span>}
                        </>
                    ))}
                </td>
            </tr>
        ) : null}
        {frontmatter.actors ? (
            <tr>
                <th scope="row">Actors</th>
                <td>
                    {frontmatter.actors.map((actor: string, idx: number) => (
                        <>
                            <a
                                href={`/threat-actors/${actor.toLowerCase().replace(/[^a-z0-9-_]/g, '')}/`}
                                class="underline text-slate-300 hover:text-white"
                            >
                                {actor}
                            </a>
                            {idx == frontmatter.actors.length-1 ? null : <span>, </span>}
                        </>
                    ))}
                </td>
            </tr>
        ) : null}
        {frontmatter.malwares ? (
            <tr>
                <th scope="row">Malwares</th>
                <td>
                    {frontmatter.malwares.map((malware: string, idx: number) => (
                        <>
                            <a
                                href={`/malware-families/${malware.toLowerCase().replace(/[^a-z0-9-_]/g, '')}/`}
                                class="underline text-slate-300 hover:text-white"
                            >
                                {malware}
                            </a>
                            {idx == frontmatter.malwares.length-1 ? null : <span>, </span>}
                        </>
                    ))}
                </td>
            </tr>
        ) : null}
    </tbody>
</table>