---
const { category, countries } = Astro.props;

const categoryElegant = category.split('-').map((elem: string) => elem.charAt(0).toUpperCase() + elem.slice(1)).join(' ');
---    
  
<astro-worldmap
    id="chartdiv"
    class="relative my-12 w-full min-h-[500px]"
    data-category={category}
    data-countries={countries.join(",")}
>
    <div class="absolute -bottom-2 right-2 flex flex-col">
        <div class="flex items-center gap-x-2">
            <div class="w-2 h-2 bg-red-500"></div>
            <span class="text-sm">{categoryElegant} Location</span>
        </div>
    </div>
</astro-worldmap>


<script>
    import * as am5 from "@amcharts/amcharts5";
    import * as am5map from "@amcharts/amcharts5/map";
    import am5geodataWorldLow from "@amcharts/amcharts5-geodata/worldLow";
    // import am5themesAnimated from "@amcharts/amcharts5/themes/Animated";

    const COLOR_DARK =am5.color(0x151926);
    const COLOR_CYAN = am5.color(0x25436d);
    const COLOR_RED = am5.color(0xc52000);

    class AstroWorldMap extends HTMLElement {
        constructor() {
            super();

            // Get attribute data
            let category = this.dataset.category;
            if (category == undefined) {
                category = "";
            }
            let countries = this.dataset.countries?.split(',');
            if (countries == undefined) {
                countries = [];
            }

            // Initialize
            const root = am5.Root.new("chartdiv");
            // root.setThemes([
            //     am5themesAnimated.new(root)
            // ]);

            const chart = root.container.children.push(
                am5map.MapChart.new(root, {
                    projection: am5map.geoMercator(),
                    panX: "none",
                    panY: "none",
                    wheelX: "none",
                    wheelY: "none",
                    pinchZoom: false,
                })
            );

            // Set map data
            const series = chart.series.push(
                am5map.MapPolygonSeries.new(root, {
                    geoJSON: am5geodataWorldLow,
                    exclude: ["AQ"],
                })
            );

            // Tooltip
            // const tooltip = series.set("tooltip", am5.Tooltip.new(root, {}));
            // tooltip.label.set("text", "{name}");

            // Configuration
            series.mapPolygons.template.setAll({
                stroke: COLOR_CYAN,
                strokeWidth: 1,
                fill: COLOR_DARK,
                fillOpacity: 0.5,
                tooltipText: "{name}",
                // tooltipHTML: `<a href="/${category}/{name}">{name}</a>`,
                templateField: "polygonSettings",
                cursorOverStyle: "pointer",
                interactive: true,
            });

            // States
            series.mapPolygons.template.states.create("hover", {
                fillOpacity: 1,
            });

            // Events
            series.mapPolygons.template.events.on("click", (ev: any) => {
                const dataContext = ev.target.dataItem.dataContext;
                const url = dataContext.url;
                if (url != "") {
                    window.location.href = url;
                }
            });

            // Country settings
            const setData = (countryName: string) => {
                const matched = countries.includes(countryName);
                return {
                    name: countryName,
                    url: matched ? `${window.location.origin}/${category}/countries/${countryName}` : "",
                    hidePopover: !matched,
                    polygonSettings: {
                        fill: matched ? COLOR_RED : COLOR_DARK,
                    }
                }
            }

            series.data.setAll([{
                id: "AE",
                ...setData("United Arab Emirates"),
            }, {
                id: "AF",
                ...setData("Afghanistan"),
            }, {
                id: "AL",
                ...setData("Albania"),
            }, {
                id: "AR",
                ...setData("Argentina"),
            }, {
                id: "AT",
                ...setData("Austria"),
            }, {
                id: "AU",
                ...setData("Australia"),
            }, {
                id: "BD",
                ...setData("Bangladesh"),
            }, {
                id: "BE",
                ...setData("Belgium"),
            }, {
                id: "BO",
                ...setData("Bolivia"),
            }, {
                id: "BR",
                ...setData("Brazil"),
            }, {
                id: "BY",
                ...setData("Belarus")
            }, {
                id: "CA",
                ...setData("Canada"),
            }, {
                id: "CH",
                ...setData("Switzerland"),
            }, {
                id: "CL",
                ...setData("Chile"),
            }, {
                id: "CN",
                ...setData("China"),
            }, {
                id: "CO",
                ...setData("Colombia"),
            }, {
                id: "DE",
                ...setData("Germany"),
            }, {
                id: "DK",
                ...setData("Denmark"),
            }, {
                id: "DZ",
                ...setData("Algeria"),
            }, {
                id: "EE",
                ...setData("Estonia"),
            }, {
                id: "EG",
                ...setData("Egypt"),
            }, {
                id: "ES",
                ...setData("Spain"),
            }, {
                id: "FI",
                ...setData("Finland"),
            }, {
                id: "FR",
                ...setData("France"),
            }, {
                id: "GB",
                ...setData("United Kingdom"),
            }, {
                id: "GR",
                ...setData("Greece"),
            }, {
                id: "ID",
                ...setData("Indonesia"),
            }, {
                id: "IE",
                ...setData("Ireland"),
            }, {
                id: "IN",
                ...setData("India"),
            }, {
                id: "IQ",
                ...setData("Iraq"),
            }, { 
                id: "IR",
                ...setData("Iran"),
            }, {
                id: "IS",
                ...setData("Iceland"),
            }, {
                id: "IT",
                ...setData("Italy"),
            }, {
                id: "JP",
                ...setData("Japan"),
            }, {
                id: "KE",
                ...setData("Kenya"),
            }, {
                id: "KP",
                ...setData("North Korea"),
            }, {
                id: "LB",
                ...setData("Lebanon"),
            }, {
                id: "LV",
                ...setData("Latvia"),
            }, {
                id: "KR",
                ...setData("South Korea"),
            }, {
                id: "LU",
                ...setData("Luxembourg"),
            }, {
                id: "MA",
                ...setData("Morocco"),
            }, {
                id: "MX",
                ...setData("Mexico"),
            }, {
                id: "MY",
                ...setData("Malaysia"),
            }, {
                id: "NG",
                ...setData("Nigeria"),
            }, {
                id: "NL",
                ...setData("Netherlands"),
            }, {
                id: "NO",
                ...setData("Norway"),
            }, {
                id: "NZ",
                ...setData("New Zealand"),
            }, {
                id: "PH",
                ...setData("Philippines"),
            }, {
                id: "PK",
                ...setData("Pakistan"),
            }, {
                id: "PT",
                ...setData("Portugal"),
            }, {
                id: "RO",
                ...setData("Romania"),
            }, {
                id: "RS",
                ...setData("Serbia"),
            }, {
                id: "RU",
                ...setData("Russia"),
            }, {
                id: "SA",
                ...setData("Saudi Arabia"),
            }, {
                id: "SE",
                ...setData("Sweden"),
            }, {
                id: "SG",
                ...setData("Singapore"),
            }, {
                id: "SI",
                ...setData("Slovenia"),
            }, {
                id: "SK",
                ...setData("Slovakia"),
            }, {
                id: "TH",
                ...setData("Thailand"),
            }, {
                id: "TR",
                ...setData("Turkey"),
            }, {
                id: "UA",
                ...setData("Ukraine"),
            }, {
                id: "US",
                ...setData("United States"),
            }, {
                id: "UY",
                ...setData("Uruguay"),
            }, {
                id: "VE",
                ...setData("Venezuela"),
            }, {
                id: "VN",
                ...setData("Vietnam"),
            }, {
                id: "ZA",
                ...setData("South Africa"),
            }]);
        }
    }
    customElements.define('astro-worldmap', AstroWorldMap)
</script>