---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import IconTechnique from "../../../components/IconTechnique";

export async function getStaticPaths() {
    const allTechniques = await getCollection("techniques");
    const uniqueTypes = [...new Set(allTechniques.map((tech: any) => tech.data.type != null ? tech.data.type : 'none').flat())];

    return uniqueTypes.map((t: string) => {
        const filteredTechniques = allTechniques.filter((tech: any) => {
            return tech.data.type === t;
        });
        return {
            params: { t },
            props: { techniques: filteredTechniques },
        };
    })
}

const { t } = Astro.params;
const { techniques } = Astro.props;

const title = `"${t}" Techniques`;
const description = `List of ${t} techniques.`;
---

<BaseLayout title={title + " | Malware Notes"} description={description}>
    <main class="my-6 md:mx-auto w-full md:w-2/3 p-2 flex flex-col gap-y-8">
        <h1 class="text-2xl md:text-3xl text-center font-bold">
            {title}
        </h1>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center gap-2">
            {techniques.map((tech: any) => (
                <div class="bg-slate-800 hover:bg-slate-700 px-2 py-4 flex items-center gap-x-2 break-words">
                    <IconTechnique color="var(--color-red)" size="1.2" className="" />
                    <a
                        href={`/techniques/${tech.slug}`}
                        class="text-white truncate"
                    >
                        {tech.data.title}
                    </a>
                </div>
            ))}
        </div>
        <div class="text-right">
            <a
                href="/techniques/types"
                class="bg-slate-800 hover:bg-slate-700 p-4"
            >
                All Technique Types
            </a>
        </div>
    </main>
</BaseLayout>