---
import BaseLayout from "./BaseLayout.astro";
import SideLinks from "../components/SideLinks.astro";
import TableMalwareFamily from "../components/TableMalwareFamily.astro";
import TableThreatActors from "../components/TableThreatActors.astro";

const { frontmatter, category } = Astro.props;

const title = frontmatter.title + " | Malware Notes";
const description = frontmatter.description;
---

<BaseLayout title={title} description={description}>
    <div class="mx-auto w-full md:w-2/3 md:grid md:grid-cols-[200px_1fr]">
        <SideLinks category={category} currentTitle={frontmatter.title} />
        <main class="px-2 md:px-8 flex flex-col">
            <span class="text-base text-red-600">{category.replace('-', ' ')}</span>
            <h1 class="text-6xl font-bold">{frontmatter.title}</h1>
            {frontmatter.aka ? (
                <div class="my-4 flex gap-x-2 text-md">
                    <span>a.k.a.</span>
                    <span class="font-bold">{frontmatter.aka.join(', ')}</span>
                </div>
            ) : null}

            {frontmatter.description ? (
                <p>{frontmatter.description}</p>
            ) : null}

            <!-- Data -->
            <div>
                {category === 'malware-families' ? (
                    <TableMalwareFamily frontmatter={frontmatter} />
                ) : category === 'threat-actors' ? (
                    <TableThreatActors frontmatter={frontmatter} />
                ) : null}
            </div>
            <!-- /Data -->

            {frontmatter.refs ? (
                <div class="my-8">
                    <h2 class="my-6 text-4xl font-bold">References</h2>
                    <ul>
                        {frontmatter.refs.map((ref: any) => (
                            <li>
                                <a
                                    href={ref}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-slate-400 hover:text-white"
                                >
                                    {ref}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            ) : null}

            <p class="my-4 text-right text-sm text-slate-300">
                Updated: {frontmatter.pubDate.toString().slice(0,10)}
            </p>

        </main>
    </div>
</BaseLayout>