---
import BaseLayout from "./BaseLayout.astro";
import SideLinks from "../components/SideLinks.astro";
import SideLinksTechniques from "../components/SideLinksTechniques.astro";
import TableMalwareFamily from "../components/TableMalwareFamily.astro";
import TableTechniques from "../components/TableTechniques.astro";
import TableThreatActors from "../components/TableThreatActors.astro";
import IconActor from "../components/IconActor";
import IconExternalLink from "../components/IconExternalLink";
import IconMalware from "../components/IconMalware";
import IconTechnique from "../components/IconTechnique";
import WorldMap from "../components/WorldMap.astro";

const { postId, frontmatter, category, years } = Astro.props;

// Get min/max years
const yearsNonNull = years.filter((y: any) => y != null);
const yearMin = Math.min(...yearsNonNull);
const yearMax = Math.max(...yearsNonNull);
const identifiedPos = String(Math.round((frontmatter.identified-yearMin)/(yearMax-yearMin)*100))

const title = frontmatter.title + " | Malware Notes";
const description = frontmatter.description;
---

<BaseLayout title={title} description={description}>
    
    <div class="mx-auto w-full md:w-4/5 lg:w-3/4 md:grid md:grid-cols-[240px_1fr]">

        {category === 'techniques' ? (
            <SideLinksTechniques currentTitle={frontmatter.title} />
        ) : (
            <SideLinks category={category} currentTitle={frontmatter.title} />
        )}

        <main class="w-full px-2 md:px-8 flex flex-col break-all">

            <!-- Icon -->
            <div class="flex items-center gap-x-2">
                {category === 'malware-families' ? (
                    <IconMalware color="var(--color-red)" size="1.4" className="" />
                ) : category === 'techniques' ? (
                    <IconTechnique color="var(--color-yellow)" size="1.3" className="" />
                ) : category === 'threat-actors' ? (
                    <IconActor color="var(--color-red)" size="1.5" className="" />
                ) : null}
                <span
                    class={`text-base ${category === 'techniques' ? 'text-yellow-600' : 'text-red-600'}`}
                >
                    {category.replaceAll('-', ' ')}
                </span>
            </div>
            <!-- /Icon -->

            <h1 class="text-4xl md:text-5xl font-bold">{frontmatter.title}</h1>

            <!-- a.k.a. -->
            {frontmatter.aka ? (
                <div class="flex gap-x-2 text-md">
                    <span>a.k.a.</span>
                    <span class="flex-1 font-bold">{frontmatter.aka.join(', ')}</span>
                </div>
            ) : null}
            <!-- /a.k.a. -->

            <!-- Links -->
            <div class="my-4 flex flex-wrap items-center gap-2">
                {frontmatter.link_anyrun ? (
                    <a
                        href={frontmatter.link_anyrun}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">ANY.RUN</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
                {frontmatter.link_malpedia ? (
                    <a
                        href={frontmatter.link_malpedia}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">Malpedia</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
                {frontmatter.link_malwarebazaar ? (
                    <a
                        href={frontmatter.link_malwarebazaar}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">MalwareBazaar</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
                {frontmatter.link_mitreattack ? (
                    <a
                        href={frontmatter.link_mitreattack}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">MITRE ATT&CK</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
                {frontmatter.link_threatfox ? (
                    <a
                        href={frontmatter.link_threatfox}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">ThreatFox</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
            </div>
            <!-- /Links -->

            <!-- Identified -->
             {frontmatter.identified ? (
                <div class="my-8 w-full flex items-center gap-x-2">
                    <span class="text-sm text-slate-400 italic">{yearMin}</span>
                    <div class="relative flex-1 bg-slate-500 w-full h-px">
                        {/* Target year */}
                        <div
                            class="
                                absolute left-1/2 top-[-6px] -translate-x-1/2
                                min-w-12 min-h-12
                                flex flex-col items-center gap-y-1
                            "
                            style={{ left: identifiedPos + "%" }}
                        >
                            <a
                                href={`/${category}/years/${frontmatter.identified}`}
                                title="Identified"
                                class="
                                    w-4 h-4 rounded-full border-2 border-red-500
                                    drop-shadow-[0_0_4px_rgb(255,0,0)]
                                "
                                style={{ left: identifiedPos + "%" }}
                            >
                            </a>
                            <a 
                                href={`/${category}/years/${frontmatter.identified}`}
                                class="text-base text-slate-300 hover:text-white italic underline"
                            >
                                {frontmatter.identified}
                            </a>
                        </div>
                    </div>
                    <span class="text-sm text-slate-400 italic">{yearMax}</span>
                </div>
             ) : null}
            <!-- /Identified -->

            <!-- Description -->
            {frontmatter.description ? (
                <p class="my-4">{frontmatter.description}</p>
            ) : null}
            <!-- /Description -->

            <!-- WorldMap -->
            {frontmatter.countries ? (
                <WorldMap category={category} countries={frontmatter.countries} />
            ) : null}
            <!-- /WorldMap -->

            <!-- Data -->
            <div class="my-4">
                {category === 'malware-families' ? (
                    <TableMalwareFamily frontmatter={frontmatter} />
                ) : category === 'techniques' ? (
                    <TableTechniques frontmatter={frontmatter} />
                ) : category === 'threat-actors' ? (
                    <TableThreatActors frontmatter={frontmatter} />
                ) : null}
            </div>
            <!-- /Data -->

            <!-- Content -->
            <div id="content" class="my-8">
                <slot />
            </div>
            <!-- /Contents -->

            {frontmatter.refs ? (
                <div class="my-8 break-words">
                    <h2 class="my-6 text-2xl font-bold">References</h2>
                    <ul>
                        {frontmatter.refs.map((ref: any) => (
                            <li>
                                <a
                                    href={ref}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-slate-400 hover:text-white"
                                >
                                    {ref}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            ) : null}

            <p class="my-4 text-right text-sm text-slate-300">
                Updated: {frontmatter.pubDate.toString().slice(0,15)}
            </p>

            <div class="my-6 flex items-center justify-end gap-x-2">
                <a
                    href={`https://github.com/hideckies/malware-notes/tree/main/src/content/${category}/${postId}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="bg-slate-800 hover:bg-slate-700 px-4 py-2 flex items-center gap-x-2" 
                >
                    <img src="/img/socials/github.png" alt="github" class="w-5" />
                    <span class="text-lg">Edit</span>
                </a>
            </div>

        </main>
    </div>
</BaseLayout>
