---
import BaseLayout from "./BaseLayout.astro";
import SideLinks from "../components/SideLinks.astro";
import TableMalwareFamily from "../components/TableMalwareFamily.astro";
import TableThreatActors from "../components/TableThreatActors.astro";
import IconMalwares from "../components/IconMalware";
import IconActors from "../components/IconActors";
import IconExternalLink from "../components/IconExternalLink";

const { postId, frontmatter, category } = Astro.props;

const title = frontmatter.title + " | Malware Notes";
const description = frontmatter.description;
---

<BaseLayout title={title} description={description}>
    
    <div class="mx-auto w-full md:w-4/5 lg:w-3/4 md:grid md:grid-cols-[240px_1fr]">

        <SideLinks category={category} currentTitle={frontmatter.title} />

        <main class="w-full px-2 md:px-8 flex flex-col break-all">

            <div class="flex items-center gap-x-2">
                {category === 'malware-families' ? (
                    <IconMalwares color="var(--color-red)" size="1.4" className="" />
                ) : category === 'threat-actors' ? (
                    <IconActors color="var(--color-red)" size="1.4" className="" />
                ) : null}
                <span class="text-base text-red-600">{category.replaceAll('-', ' ')}</span>
            </div>

            <h1 class="text-4xl md:text-5xl font-bold">{frontmatter.title}</h1>

            <!-- a.k.a. -->
            {frontmatter.aka ? (
                <div class="my-3 flex gap-x-2 text-md">
                    <span>a.k.a.</span>
                    <span class="flex-1 font-bold">{frontmatter.aka.join(', ')}</span>
                </div>
            ) : null}
            <!-- /a.k.a. -->

            <!-- Links -->
            <div class="my-4 flex flex-wrap items-center gap-2">
                {frontmatter.link_malpedia ? (
                    <a
                        href={frontmatter.link_malpedia}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">Malpedia</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
                {frontmatter.link_malwarebazaar ? (
                    <a
                        href={frontmatter.link_malwarebazaar}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">MalwareBazaar</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
                {frontmatter.link_mitreattack ? (
                    <a
                        href={frontmatter.link_mitreattack}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">MITRE ATT&CK</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
                {frontmatter.link_threatfox ? (
                    <a
                        href={frontmatter.link_threatfox}
                        target="_blank"
                        rel="noopener noreffer"
                        class="bg-slate-700 hover:bg-slate-600 px-2 py-1 flex items-center gap-x-2"
                    >
                        <span class="text-sm">ThreatFox</span>
                        <IconExternalLink color="white" size="1" className="" />
                    </a>
                ) : null}
            </div>
            <!-- /Links -->

            <!-- Description -->
            {frontmatter.description ? (
                <p class="my-4">{frontmatter.description}</p>
            ) : null}
            <!-- /Description -->

            <!-- Data -->
            <div class="my-4">
                {category === 'malware-families' ? (
                    <TableMalwareFamily frontmatter={frontmatter} />
                ) : category === 'threat-actors' ? (
                    <TableThreatActors frontmatter={frontmatter} />
                ) : null}
            </div>
            <!-- /Data -->

            <!-- Content -->
            <div id="content">
                <slot />
            </div>
            <!-- /Contents -->

            {frontmatter.refs ? (
                <div class="my-8 break-words">
                    <h2 class="my-6 text-4xl font-bold">References</h2>
                    <ul>
                        {frontmatter.refs.map((ref: any) => (
                            <li>
                                <a
                                    href={ref}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-slate-400 hover:text-white"
                                >
                                    {ref}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            ) : null}

            <p class="my-4 text-right text-sm text-slate-300">
                Updated: {frontmatter.pubDate.toString().slice(0,10)}
            </p>

            <div class="my-6 flex items-center justify-end gap-x-2">
                <a
                    href={`https://github.com/hideckies/malware-notes/tree/main/src/content/${category}/${postId}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="bg-slate-800 hover:bg-slate-700 px-4 py-2 flex items-center gap-x-2" 
                >
                    <img src="/img/socials/github.png" alt="github" class="w-5" />
                    <span class="text-lg">Edit</span>
                </a>
            </div>

        </main>
    </div>
</BaseLayout>

<style is:inline>
    #content a {
        color: var(--color-gray-light-super);
        text-decoration: underline;
    }
    #content a:hover {
        color: var(--color-white);
    }
</style>